/****************************************************************************************************************************************************/
/*                                                          CE FICHIER REGROUPE TOUT LE CSS CUSTOM DE CE MODULE                                     */ 
/*                                                                                                                                                  */
/*                                      !! Veuillez respecter le systeme de selecteur mis en place ( body.) !!                                      */
/*                                                                                                                                                  */
/****************************************************************************************************************************************************/
body.page-node-add-balade div.field-name-field-esp-ces div.form-item.form-type-checkbox, body.node-type-balade div.field-name-field-esp-ces div.form-item.form-type-checkbox{
  width: 361px;
  display: inline-block;
}
body.page-node-add-balade div.field-name-field-esp-ces div.form-item-field-esp-ces-und label, body.node-type-balade div.field-name-field-esp-ces div.form-item-field-esp-ces-und label{
  width: auto;
  display: inline-block;	
}
body.page-node-add-balade div.field-name-field-esp-ces div#edit-field-esp-ces-und, body.node-type-balade div.field-name-field-esp-ces div#edit-field-esp-ces-und{
	padding-top: 12px;
}
body.page-node-add-balade div.field-name-field-balade-teaser > div.form-item-field-balade-teaser-und-0-value > label, body.node-type-balade div.field-name-field-balade-teaser > div.form-item-field-balade-teaser-und-0-value > label{
  width: auto;
  display: inline-block;	
}
body.page-node-add-balade span.textAide, body.node-type-balade span.textAide{
	font-weight: normal !important;
}
