/****************************************************************************************************************************************************/
/*                                                          CE FICHIER REGROUPE TOUT LE CSS CUSTOM                                                  */ 
/*                                                                                                                                                  */
/*                                   !! Veuillez respecter le systeme de selecteur mis en place (pas body.) !!                                      */
/*                                                                                                                                                  */
/****************************************************************************************************************************************************/


/***************************************************************************/
/*                    			ADD BALADE                                 */
/*							                                               */
/***************************************************************************/
body.page-node-add-balade div.form-item.form-type-select.form-item-field-description-de-la-balade-und-0-format{
  display: none;
} 
/***************************************************************************/
/*                    			EDIT BALADE                                */
/*							                                               */
/***************************************************************************/
body.page-node-edit.node-type-balade div.form-item.form-type-select.form-item-field-description-de-la-balade-und-0-format{
  display: none;
} 
/***************************************************************************/
/*                    			ADD ESPECE                                 */
/*							                                               */
/***************************************************************************/
body.page-node-add-espece div.form-item.form-type-select.form-item-field-description-und-0-format{
  display: none;
} 
/***************************************************************************/
/*                    			EDIT ESPECE                                */
/*							                                               */
/***************************************************************************/
body.page-node-edit.node-type-espece div.form-item.form-type-select.form-item-field-description-und-0-format{
  display: none;
} 